{% extends 'cardapp/base.html' %}
{% load staticfiles %}

{% block title %}Card map: {{object.title}}{% endblock %}

{% block head_extra %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>

<link rel="stylesheet" href="{% static 'cardapp/css/cardmap_edit.css' %}" />
<script>
    window.IMAGE_URL = "{{object.image.url}}";
    window.IMAGE_WIDTH = {{object.image_width |default:1000 }};
    window.IMAGE_HEIGHT = {{object.image_height |default:1000 }};
    window.CARDS_JSON = {{cards_json | safe }};
    window.ANNOTATIONS_JSON = {{annotations_json | safe }};
    window.STATIC_BASE = '{% static "cardapp" %}';
</script>
<script src="{% static 'cardapp/js/cardmap_icons.js' %}"></script>
<script src="{% static 'cardapp/js/cardmap_edit.js' %}"></script>
{% endblock %}

{% block header_title %}{{object.title}}{% endblock %}

{% block header %}{% endblock %}

{% block page_content %}

<div id="edit_map"></div>

{% with cardlist=cardmap.deck.cards.all %}
<div id="search_bar">
    <div class="container-fluid">
        <input type="search" placeholder="Search for a card" id="search-field" class="form-control" />
    </div>
</div>
<div id="edit_bar">
    <div class="container-fluid">
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <p>Drag and drop cards from this list onto the map</p>
            <p>Double-click the map to add an annotation</p>
        </div>
        {% for object in cardlist %}
        <div class="panel draggable-card-item" draggable="true" data-card-id="{{object.id}}" data-search-index="{{object.title|lower}} {{object.get_tag_texts|lower}}">
            <div class="panel-body card-body" style="border-color: {{object.background_color}};">
                <h4 class="card-title">{{object.title}}</h4>
                <h6>
                    <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
                    <span class="card-tags">{{object.get_tag_texts}}</span>
                </h6>
                <div class="text-center">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#card_modal_{{object.id}}" title="Details">
                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                    </button>
                    <button class="btn btn-success add-to-map-center" title="Add to Map Center">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div id="save_buttons">
    <form method="post" id="update-form">
        {% csrf_token %}
        <input type="hidden" name="data" id="data_field" value="" />
        <button type="submit" class="btn btn-block btn-primary">Save</button>
    </form>
</div>
<div id="card-template">
    <h3>[Title]</h3>
    <button class="btn btn-sm btn-primary btn-block popup-modal">
        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
        Details
    </button>
    <button class="btn btn-sm btn-danger btn-block popup-remove">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        Delete
    </button>
</div>
<div id="annotation-template">
    <h3>Annotation</h3>
    <textarea class="annotation-area" placeholder="Write an annotation"></textarea>
    <button class="btn btn-sm btn-danger btn-block popup-remove">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        Delete
    </button>
</div>

{% for object in cardlist %}
<div class="modal fade" tabindex="-1" role="dialog" id="card_modal_{{object.id}}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{object.title}}</h4>
            </div>
            <div class="modal-body">
                {% include 'cardapp/partial/card_detail.html' %}
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endwith %}

{% endblock %}
