{% extends 'cardapp/base.html' %}

{% block title %}Decks: {{object.title}}: Card maps{% endblock %}
{% block header_title %}{{object.title}}: Card maps{% endblock %}
{% block deck_list_active %}active{% endblock %}

{% block next_breadcrumbs %}
<li><a href="{% url 'cardapp:deck_list' %}">Decks</a></li>
<li><a href="{% url 'cardapp:deck_detail' pk=object.pk %}">{{object.title}}</a></li>
<li><a href="{% url 'cardapp:deck_cardmaps' pk=object.pk %}">Card maps</a></li>
{% endblock %}

{% block main_content %}

{% include "cardapp/partial/search_list.html" %}

<h3>{{cardmaps.count}} card map{{cardmaps.count|pluralize}} based on this deck</h3>
<div class="row grid">
    {% for object in cardmaps %}
    {% include "cardapp/partial/cardmap_list_detail.html" %}
    {% endfor %}
</div>
{% endblock %}