{% extends 'cardapp/base.html' %}

{% block title %}Decks: {{object.title}}: Cards{% endblock %}
{% block header_title %}{{object.title}}: Cards{% endblock %}
{% block deck_list_active %}active{% endblock %}

{% block next_breadcrumbs %}
<li><a href="{% url 'cardapp:deck_list' %}">Decks</a></li>
<li><a href="{% url 'cardapp:deck_detail' pk=object.pk %}">{{object.title}}</a></li>
<li><a href="{% url 'cardapp:deck_cards' pk=object.pk %}">Cards</a></li>
{% endblock %}

{% block main_content %}
<h3>{{cards.count}} card{{cards.count|pluralize}} in this deck</h3>
<div class="row grid">
    {% for object in cards %}
    {% include "cardapp/partial/card_list_detail.html" %}
    {% endfor %}
</div>
{% endblock %}