{% extends 'cardapp/base.html' %}

{% block title %}CardMapper by Magellan{% endblock %}
{% block header_title %}CardMapper by Magellan{% endblock %}

{% block main_content %}
    <div class="jumbotron">
        <p>A platform for capturing, annotating and sharing card-based ideation workshops!</p>
    </div>
    <h2>
        {% if cardmap_count %}
        <a class="btn btn-primary btn-lg pull-right" href="{% url 'cardapp:cardmap_list' %}">List all card maps <span class="badge">{{cardmap_count}}</span></a>
        {% endif %}
        Latest Card Maps:
    </h2>
{% with collapse_details=True %}
    <div class="row grid">
        {% for object in latest_cardmaps %}
        {% include "cardapp/partial/cardmap_list_detail.html" %}
        {% endfor %}
    </div>
    {% if not cardmap_count %}
    <div class="panel panel-primary">
        <div class="panel-body">
            <h4>No Card Maps available</h4>
        </div>
    </div>
    {% endif %}
    <h2>
        {% if deck_count %}
        <a class="btn btn-primary btn-lg pull-right" href="{% url 'cardapp:deck_list' %}">List all decks <span class="badge">{{deck_count}}</span></a>
        {% endif %}
        Latest Decks:
    </h2>
    <div class="row grid">
    {% for object in latest_decks %}
        {% include "cardapp/partial/deck_list_detail.html" %}
    {% endfor %}
    </div>
{% endwith %}
    {% if not deck_count %}
    <div class="panel panel-primary">
        <div class="panel-body">
            <h4>No decks available</h4>
        </div>
    </div>
    {% endif %}
    {% endblock %}
