{% extends 'cardapp/base.html' %}

{% block title %}Welcome to CardMapper{% endblock %}
{% block header_title %}Welcome to CardMapper{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3>1. Use ideation cards</h3>
                </div>
                <div class="panel-body">
                    <p>Use printed ideation cards from one of the decks available here. Set up an ideation workshop and use the cards on a table, flipchart, or wall.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3>2. Turn your ideas into a “Card Map”</h3>
                </div>
                <div class="panel-body">
                    <p>Take a photo of the table or wall you’ve put the cards on, upload it, and match the cards to the database.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3>3. Share your “Card Map”</h3>
                </div>
                <div class="panel-body">
                    <p>Make your Card Map public: share the link to take away the outcome of the workshop, and add your Card Map to the database to share your insights with other ideation card users.</p>
                </div>
            </div>
        </div>
    </div>
    <h2>
        {% if cardmap_count %}
        <a class="btn btn-primary btn-lg pull-right" href="{% url 'cardapp:cardmap_list' %}">List all card maps <span class="badge">{{cardmap_count}}</span></a>
        {% endif %}
        Latest Card Maps:
    </h2>
{% with collapse_details=True %}
    <div class="row">
        {% for object in latest_cardmaps %}
        {% include "cardapp/partial/cardmap_list_detail.html" %}
        {% endfor %}
    </div>
    {% if not cardmap_count %}
    <div class="panel panel-primary">
        <div class="panel-body">
            <h4>No Card Maps available</h4>
        </div>
    </div>
    {% endif %}
    <h2>
        {% if deck_count %}
        <a class="btn btn-primary btn-lg pull-right" href="{% url 'cardapp:deck_list' %}">List all decks <span class="badge">{{deck_count}}</span></a>
        {% endif %}
        Latest Decks:
    </h2>
    <div class="row">
    {% for object in latest_decks %}
        {% include "cardapp/partial/deck_list_detail.html" %}
    {% endfor %}
    </div>
{% endwith %}
    {% if not deck_count %}
    <div class="panel panel-primary">
        <div class="panel-body">
            <h4>No decks available</h4>
        </div>
    </div>
    {% endif %}
    {% endblock %}
